<!DOCTYPE html>
<html lang="en">
    <head>
       <%- include('./partials/header') %> 
    </head>
        
    <body>
        <%- include('./partials/nav') %> 
        
        <section class="main-container">
            This code contains the tags for the intro page
            <section class="intro-container">
                <div class="intro">
                    <img src="schedule-vector.svg" alt="schedule-vector">
                    <div class="subtitle">Generate a personal Timetable faster and easier</div>
                    <button><a href="<%= form %> ">Generate</a></button>
                </div>
            </section>
    </body>
</html>