<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Kist</title>
    <style>
       h1{
        font-size: 50px; 
        /* font-weight: 600;  */
        color: #8e0f4a;
       } 
       h2{
        font-size: 30px
       }
       span h2{
        font-size: 25px; 
        display: inline; 
        color: #8e0f4a;
        margin-left: 10px
       }
    </style>
  </head>
  <body>
    <hr>
        {{#each schedule}}
        <h1>{{this.title}}  </h1>
        <h2>{{this.day}} </h2>
        <span>
           <h2>Start Time: {{this.startTime}}</h2>
           <h2>End Time: {{this.endTime}}</h2>
        </span>
        <hr>
        <br> 
       {{/each}}
  </body>
</html>